<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  </head>
  <div class="login-form">
    <h1>Welcome To Daily Diary</h1>
    <p>Start Typing Blogs</p>
    <form class="" action="/" method="post">
      <button type="submit" name="button" href="/home">Get Started</button>
    </form>
  </div>
