<%- include('partials/header.ejs') %>
<h1><%=postTitle%></h1>
<p> <%= postContent %></p>
<a href="/home" role="button">Return to home</a>

<%# <form action="/posts/:id" method="post"> %>
<%# <button type="submit" class="btn btn-primary" name="home" value="home">Return to home</button>
</form> %>
